.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#book-form, #new-book-btn, #library-container {
  margin: 10px;
}
